/Solcore/Simulations
/Solcore/Processed
/Solcore/Simulations-Prelim
/Solcore/Simulations-V1
/Solcore/Simulations-V2
/Solcore/Simulations-Prelim-V2
/Solcore/Simulations-Prelim-V3
/Solcore/Simulations-Prelim-V4
/Solcore/Simulations-Prelim-V5
/Solcore/Simulations-Prelim-V6
/Solcore/Simulations-Prelim-V7
/Solcore/Simulations-Prelim-V8
/Solcore/Simulations-Prelim-V9
/Symposium-Graphing/Processed/Plots
